<!DOCTYPE html>

<html lang="es">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>IDW S.A</title>
        <link rel="stylesheet" href="../styles/reset.css"/>
        <link rel="stylesheet" href="../styles/style.css"/>
        <link rel="stylesheet" href="../styles/us.css"/>
    </head>

    <body>
        <header>
            <div class="container-portada">
                <h1 class="title-principal">
                    IDW SA
                </h1>
                <nav>
                    <ul class="navegacion">
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a href="../components/us.html">Nosotros</a></li>
                        <li><a href="../components/services.html">Servicios</a></li>
                        <li><a href="../components/contacts.html">Contactos</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main> 
            <section id="nosotros">
                <div class="container">
                    <h2>Nosotros</h2>
                    <p>IDW S.A nació en 2025, de un proyecto de la Facultad Nacional de Entre Rios, con la idea de crear espacios seguros y divertidos para celebrar los cumpleaños infantiles. Desde entonces, hemos organizado miles de fiestas y creado recuerdos inolvidables para cientos de familias.</p>
                    
                    <div style="display: flex; justify-content: space-around; flex-wrap: wrap; margin-top: 30px;">
                        <div class="team-member">
                            <img src="../image/euge.jpg" alt="Fundador">
                            <h3>Maria Eugenia Saracho</h3>
                            <p>Fundadora</p>
                        </div>
                        <div class="team-member">
                            <img src="../image/fran.jpg" alt="Fundador">
                            <h3>Francisco Rafael Romero</h3>
                            <p>Fundador</p>
                        </div>
                        <div class="team-member">
                            <img src="../image/malena.png" alt="Fundador">
                            <h3>Malena del Valle Moyano</h3>
                            <p>Fundadora</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <p class="copyright">&copy Copyright IDW S.A - 2025</p>
        </footer>

    </body>

</html>